*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}


section{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
section header{
    right: 0px;
    position: absolute;
    top: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
section header .menu{
    display: flex;
}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin-left: 20px;
}
section header ul li a{
    color:#111;
    text-decoration: none;
    font-size: 13px;
}
section header ul li button{
    background: #4180ed;
    border: none;
    outline: none;
    padding: 7px 13px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    width: 90px;
}

.main #logo{
    height: 120px;
}
section .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border: none;
    outline: none;
}

.searchbox{
    height:100px;
    justify-content:space-between;
}

.searchbox{
    width:650px;
    height: 65px;
    padding: 2%;
    padding-left: 45px;
    padding-right: 35px;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    position: relative;
    margin-top: 20px;
    filter: drop-shadow(2px 2px 2px rgba(167, 158, 158, 0.467));
    border: 2px;
    border-color: #111;
}

.search{
    width:580px;
    border-radius: 30px;
    height: 50px;
    position: relative;
    border: none;
    padding-left: 50px;
}

section .main .searchbox .icons{
    position:relative;
    margin-bottom: 20px;
    width: 555px;
    display:flex;
    padding: 5px 5px;
    justify-content: space-between;
    margin-left: 13px;
    pointer-events: none;
    bottom:41px;
}
section .main .buttons{
    margin-top: 20px;
}

.languages{
    display: flex;
    gap:10px;
    list-style: none;
    text-align: center;
    margin-top: 10px;
    color: #5e5e5e;
    font-size: smaller;
}

.languages a:link{
    text-decoration: none;
}
section .main .buttons button{
    margin: 2px 5px;
    padding: 12px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
}
footer{
    bottom: 0;
    width: 100vw;
    position: fixed;
}
footer a:link,footer a:hover,footer a:visited{
    text-decoration: none;
    color: #5e5e5e;
}
.button{
    display: flex;
    justify-self:end ;
    width: 100%;
    margin-bottom: 70px;
    margin-right: 30px;
}
.pen{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: absolute;
    padding: 7px 30px;
    margin: 10px 10px;
    background: white;
    margin-left: 85%;
    border-radius: 50px; 
    color: rgb(75, 147, 255);
    box-shadow: 2px 2px 2px 0px rgba(91, 90, 90, 0.3);
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.pen img{
    padding-right: 5px;
}

.row1{
    width: 100vw;
    color: #5e5e5e;
    height:35px;
    border-bottom:solid rgb(179, 179, 179);
    background-color: #dfdfdf;
    display: flex;
    justify-content:flex-start;
    padding-top: 8px;
}
.row1 p{
    padding-left: 30px;
}
.row2{
    width: 100vw;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 8px;
    height: 35px;
    background-color: #dfdfdf;
}
.left{
    left:0;
    list-style: none;
    display: flex;
    left:0;
    gap: 30px;
    margin-left: 30px;
}
.right{
    right:0;
    list-style: none;
    display: flex;
    right:0;
    gap: 30px;
    margin-right: 30px;
}

.search:focus{
    border: none;
    outline: none;
    filter: drop-shadow(2px 5px 2px rgba(167, 158, 158, 0.467));
}

body.dark-theme {
	background-color: #333;
    color: #ddd;
}
body.dark-theme h2, body.dark-theme ul{
	color: #ddd;
}

body.dark-theme .languages a{
    color: #b159ff;
}


.toggle input[type=checkbox] {
	display: none;
}

.toggle label {
	background-color: #eeeeee;
	border: 2px solid #555;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all ease-in-out 0.3s;
	width: 50px;
	height: 30px;
}

.toggle label::after {
	background-color: #555;
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 3px;
	top: 3px;
	transition: all ease-in-out 0.3s;
	width: 20px;
	height: 20px;
}

.toggle input[type=checkbox]:checked ~ label {
	background-color: #333;
	border-color: #ffffff;
}

.toggle input[type=checkbox]:checked ~ label::after {
	background-color: #ffffff;
	transform: translateX(20px);
}

